.dark {
    --body-background-color: #121212;
    --letter-text-color: #ededed;
    --letter-shadow-color: #b7b7b7;
    --init-text-color: #ededed;
    --init-shadow-color: #b7b7b7;
    --init-box-div-background-color: #420000;
    --init-input-background-color: #dcdcdc;
    --init-input-border-color: #cbcbcb;
    --init-input-text-color: #121212;
    --init-button-background-color: #303030;
    --init-button-border-color: #404040;
    --init-button-text-color: #efefef;

    --h1-font-size: 30px;
    --h2-font-size: 20px;
    --p-font-size: 18px;
    --input-font-size: 16px;
    --button-font-size: 16px;
}