@import 'theme.css';

.initDiv,
.initBoxDiv {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.initDiv,
.initButton {
    text-align: center;
}

.initH1 {
    margin: 25px 0px;
    border: 0px;
    padding: 0px;
    font-size: 20px;
}

.initH2 {
    font-size: 16px;
    justify-self: center;
}

.initDiv {
    color: var(--init-text-color);
    text-shadow: var(--init-shadow-color) 2px 1px;
    font-family: "Lucida Console";
}

.initBoxDiv {
    background-color: var(--init-box-div-background-color);
    text-shadow: var(--init-shadow-color) 1px 0.5px;
    border-radius: 25px;
    margin: 20px 100px;
    padding: 30px;
    max-width: 400px;
    justify-items: left;
}

.initButton {
    background-color: var(--init-button-background-color);
    border-color: var(--init-button-border-color);
    color: var(--init-button-text-color);
    border-width: 1px;
    border-radius: 3px;
    padding: 5px 15px;
    width: 100%;
    font-size: 12px;
}