@import 'theme.css';

.loginDiv,
.loginBoxDiv {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.loginDiv,
.loginButton {
    text-align: center;
}

.loginInput,
.loginButton {
    border-radius: 3px;
    padding: 5px 15px;
    font-family: var(--font-family);
    text-shadow: var(--init-shadow-color) 1px 0.5px;
}

.loginH1 {
    margin: 25px 0px;
    border: 0px;
    padding: 0px;
    font-size: var(--h1-font-size);
}

.loginH2 {
    font-size: var(--h2-font-size);
    justify-self: center;
}

.loginP {
    font-size: var(--p-font-size);
}

.loginDiv {
    color: var(--init-text-color);
    text-shadow: var(--init-shadow-color) 2px 1px;
    font-family: var(--font-family);
}

.loginBoxDiv {
    background-color: var(--init-box-div-background-color);
    text-shadow: var(--init-shadow-color) 1px 0.5px;
    border-radius: 25px;
    margin: 20px 100px;
    padding: 30px;
    max-width: 400px;
    justify-items: left;
}

.loginInput {
    background-color: var(--init-input-background-color);
    border-color: var(--init-input-border-color);
    color: var(--init-input-text-color);
    margin: 0 0 10px;
    font-size: var(--input-font-size);
}

.loginButton {
    background-color: var(--init-button-background-color);
    border-color: var(--init-button-border-color);
    color: var(--init-button-text-color);
    border-width: 1px;
    width: 100%;
    font-size: var(--button-font-size);
}