@import 'theme.css';

.createDiv,
.createBoxDiv {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

.createDiv,
.createButton {
    text-align: center;
}

.createInput,
.createButton {
    border-radius: 3px;
    padding: 5px 15px;
}

.createH1 {
    margin: 25px 0px;
    border: 0px;
    padding: 0px;
    font-size: var(--h1-font-size);
}

.createH2 {
    font-size: var(--h2-font-size);
    justify-self: center;
}

.createP {
    font-size: var(--p-font-size);
}

.createDiv {
    color: var(--init-text-color);
    text-shadow: var(--init-shadow-color) 2px 1px;
    font-family: "Lucida Console";
}

.createBoxDiv {
    background-color: var(--init-box-div-background-color);
    text-shadow: var(--init-shadow-color) 1px 0.5px;
    border-radius: 25px;
    margin: 20px 100px;
    padding: 30px;
    max-width: 400px;
    justify-items: left;
}

.createInput {
    background-color: var(--init-input-background-color);
    border-color: var(--init-input-border-color);
    color: var(--init-input-text-color);
    margin: 0 0 10px;
    font-size: var(--input-font-size);
}

.createButton {
    background-color: var(--init-button-background-color);
    border-color: var(--init-button-border-color);
    color: var(--init-button-text-color);
    border-width: 1px;
    width: 100%;
    font-size: var(--button-font-size);
}